---
import Maps from './Map.astro';
---

<title>About Genesis</title>

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 items-start gap-x-8 gap-y-16 sm:gap-y-24 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="lg:pr-4 mb-20">
        <div class="relative overflow-hidden rounded-3xl bg-gray-900 lg:h-[600px] px-6 pb-9 pt-64 shadow-2xl sm:px-12 lg:max-w-lg lg:px-8 lg:pb-8 xl:px-10 xl:pb-10">
          <img class="absolute inset-0 h-full w-full object-cover" src=`img/innovative_shop_floor.JPG` alt=""/>
        </div>
      </div>
      <div>
        <div class="text-base leading-7 text-gray-700 lg:max-w-lg">
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">From Humble Beginnings...</h1>
          <div class="max-w-xl">
            <p class="mt-6">Genesis Company was founded in 2003 by a small, dedicated team of engineers with a vision to produce high-quality products through the use of leading-edge technology. Initially serving niche markets, our commitment to innovation and excellence soon facilitated our growth to become a trusted supplier for both small and mid-sized companies across various demanding industries. Over the years, we have expanded our reach globally, maintaining our headquarters in Rendon, Texas, while establishing state-of-the-art design and manufacturing facilities around the world.
            <p class="mt-8">As we look to the future, Genesis Company is focused on increasing our expansion further, enhancing our product offerings, and integrating better technologies. Our goal is to continue setting industry standards, pushing the boundaries of engineering and manufacturing to deliver not only what our customers need today but also what will drive them forward in the future. 
          </div>
        </div>
      </div>
    </div>
    
    <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-10">
      <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl mb-4">Industries Served</h1>
      <p class="text-gray-700 mb-5">At Genesis, we are proud of our long-standing partnerships across diverse industries. Our commitment to quality, reliability, and innovation has made us a trusted partner, fostering deep relationships that drive mutual success and continuous advancement.</p>
  
  <!-- Aerospace Industry Section -->
  <div class="mb-10">
    <img src=`img/aerospace3_original.png` alt="Aerospace Manufacturing" class="rounded-lg shadow hover:opacity-90 mx-auto"/>
    <p class="mt-4 text-center text-2xl font-bold">Aerospace Manufacturing</p>
    <p class="mt-2">Genesis plays a pivotal role in aerospace manufacturing by delivering high-quality, reliable solutions that align with the stringent demands of the sector. Our emphasis on deep customer engagement allows us to develop bespoke solutions that effectively address unique industry challenges, from design complexity to operational reliability. We continuously refine our processes to increase sustainability and minimize environmental impacts, staying aligned with global standards. By focusing on innovative technologies and trends, we empower our aerospace clients to reach new heights of efficiency and performance.
  </div>

  <!-- Automotive Industry Section -->
  <div class="mb-10">
    <img src=`img/manufacturing_car.jpeg` alt="Automotive Industry Manufacturing" class="rounded-lg shadow hover:opacity-90 mx-auto"/>
    <p class="mt-4 text-center text-2xl font-bold">Automotive Industry Manufacturing</p>
    <p class="mt-2">In the dynamic automotive industry, Genesis thrives on building lasting customer relationships through exceptional service and understanding client needs. We are dedicated to driving innovation in automotive manufacturing by visualizing and integrating new industry trends into our product development. Our solutions aim to answer critical customer challenges, enhance the efficiency of vehicles, and reduce environmental impact. By focusing on sustainable practices, we ensure that our approach not only meets today’s needs but also anticipates future trends, promoting long-term success in a rapidly evolving sector.
  </div>

  <!-- Medical Device Manufacturing Section -->
  <div class="mb-10">
    <img src=`img/ventilator.JPG` alt="Medical Device Manufacturing" class="rounded-lg shadow hover:opacity-90 mx-auto"/>
    <p class="mt-4 text-center text-2xl font-bold">Medical Device Manufacturing</p>
    <p class="mt-2">At Genesis, we are at the forefront of innovating medical device manufacturing. By focusing on accelerating product development, we help healthcare providers access advanced medical tools swiftly. Our approach involves close collaboration with clients to understand and respond to the challenges medical professionals face today. This includes a commitment to increasing the sustainability of our manufacturing processes and contributing to a healthier environment while ensuring the utmost safety and reliability of our devices. Our proactive trend analysis helps us anticipate shifts in healthcare needs, enabling us to adapt swiftly to the evolving market.
  </div>
  
  <Maps />

</div>

