---
import Container from "../../global/Container.astro";
const basePath = import.meta.env.PROD ? '/Genesis/' : '/';
---
<!-- Why Genesis Section -->
<Container>
    <section class="my-40 relative z-20">
        <div class="relative z-10">
            <h1 class="text-4xl font-semibold text-center md:text-left">Why Genesis?</h1>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 px-10 pt-16">
            <div class="flex flex-col gap-6 justify-center shadow-sm hover:shadow-md border border-gray-200 hover:border-gray-300 bg-gray-50 items-center text-center rounded-lg px-10 py-12">
                <div>
                    <img width="150" height="94" src=`${basePath}spped.png` alt="delivery-scooter"/>            
                </div>
                <div class="space-y-4">
                    <h3 class="text-black font-semibold text-lg">Speed & Reliability</h3>
                    <p class="text-gray-600 text-sm leading-5">
                        We deliver precision-engineered solutions on time, ensuring our partners maintain uninterrupted production schedules.
                    </p>
                </div>
            </div>
            <div class="flex flex-col gap-6 justify-center shadow-sm hover:shadow-md border border-gray-200 hover:border-gray-300 bg-gray-50 items-center text-center rounded-lg px-10 py-12">
                <div>
                    <img width="150" height="94" src=`${basePath}manufacturing.png` alt="palm-tree--v1"/>            
                </div>
                <div class="space-y-4">
                    <h3 class="text-black font-semibold text-lg">Global Manufacturing</h3>
                    <p class="text-gray-600 text-sm leading-5">
                        Our worldwide presence enables seamless service and support across North America, Europe, and Asia.
                    </p>
                </div>
            </div>
            <div class="flex flex-col gap-6 justify-center shadow-sm hover:shadow-md border border-gray-200 hover:border-gray-300 bg-gray-50 items-center text-center rounded-lg px-10 py-12">
                <div>
                    <img width="150" height="84" src=`${basePath}medal.png` alt="medal icon" class="opacity-40"/>            
                </div>
                <div class="space-y-4">
                    <h3 class="text-black font-semibold text-lg">Certified Excellence</h3>
                    <p class="text-gray-600 text-sm leading-5">
                        We uphold the highest industry standards, ensuring every component meets rigorous quality certifications.
                    </p>
                </div>
            </div>
        </div>
        <div class="pattern-dots-md w-20 h-20 absolute -top-6 -left-6 z-0 text-zinc-300 hidden md:block"></div>
    </section>
</Container>
