<!-- About Us section -->
<section class="mt-32 bg-gray-800">
    <div class="max-w-6xl py-16 mx-auto">
        <div class="grid justify-center gap-10 md:gap-40 grid-row-2 md:grid-cols-2 md:grid">
            <!-- About Image -->
            <div class="flex justify-center pb-6 md:pb-0 delay-[300ms] duration-[600ms] taos:translate-x-[-200px] taos:opacity-0"
                data-taos-offset="600">
                <img src="gen.png" class="h-[300px] md:h-[330px]" alt="Genesis Logo">
            </div>
            
            <!-- About Content -->
            <div class="text-center flex flex-col gap-10 w-[400px] delay-[300ms] duration-[600ms] taos:translate-x-[200px] taos:opacity-0"
                data-taos-offset="400">
                <div>
                    <!-- Header -->
                    <div>
                        <h1 class="text-2xl font-semibold bg-gradient-to-r from-zinc-100 to-white bg-clip-text text-transparent capitalize md:text-4xl">
                            The Future of Digital Manufacturing
                        </h1>
                    </div>
                    
                    <!-- Paragraph -->
                    <div class="px-10 pt-4 md:pt-7 md:px-0">
                        <p class="text-xs leading-6 font-light text-white md:text-sm line-clamp-5">
                            Innovation is at the core of everything we do. By integrating advanced digital manufacturing 
                            technologies, we are redefining how industries design, produce, and optimize their most 
                            critical components. Our expertise in precision engineering, automation, and smart 
                            manufacturing transforms complex challenges into scalable solutions that power the future.
                        </p>
                    </div>
                </div>
                
                <!-- Call to Action -->
                <div>
                    <button id="button" type="submit"
                        class="inline-flex items-center gap-2 text-black text-sm font-semibold shadow to-gray-200 from-white hover:to-smoke duration-200 bg-gradient-to-b rounded-full px-6 py-2">
                        Explore Innovation
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
