---
import Container from "../global/Container.astro";
import {articles} from "../landing/NewsPage/News1Storage.js";
import NewsNav from "../landing/NewsNavigation.astro";

import NewsLink from "../landing/NewsPage/NewsLink.astro";
---

<!-- Home Page of News Outlet -->
<Container>
  <NewsNav/>
    <!-- Trending Articles Section -->
    <div class="mt-12 px-6">
        <h1 class="text-2xl font-bold text-gray-900">Trending Articles</h1>
    </div>
</Container>
