---

---

<div class="bg-white">

  <!--begin product -->
   <div class="pb-16 pt-16 sm:pb-24">
      <div class="mx-auto mt-8 max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="lg:grid lg:auto-rows-min lg:grid-cols-12 lg:gap-x-8">
          <div class="lg:col-span-5 lg:col-start-8">
            <div class="flex justify-between">
              <h1 class="text-xl font-medium text-gray-900">FADEC</h1>
              <!-- <p class="text-xl font-medium text-gray-900">RS.2000</p> -->
            </div>
          </div>

          <!-- Image gallery -->
          <div class="mt-8 lg:col-span-7 lg:col-start-1 lg:row-span-3 lg:row-start-1 lg:mt-0">
            <h2 class="sr-only">Images</h2>

            <div class="">
              <img src="/img/fadec.webp" alt="genesis fadec" class="rounded-lg h-[633px] w-[1000px]">
            </div>
          </div>

          <div class="mt-8 lg:col-span-5">
            <!-- Product details -->
            <div class="mt-10">
              <h2 class="text-sm font-medium text-gray-900">Description</h2>

              <div class="prose prose-sm mt-4 text-gray-500">
                <p>Our state-of-the-art Full Authority Digital Engine Control (FADEC) systems optimize aircraft engine performance through real-time monitoring and automated adjustments. 
                  Designed for commercial and military aviation, our FADEC solutions enhance fuel efficiency, reduce pilot workload, and improve overall engine reliability. 
                  Built with redundant safety mechanisms and aerospace-grade components, our FADEC units meet the stringent requirements of the aviation industry.</p>
              </div>
            </div>

            <!-- Size picker -->
            <div class="mt-8">
              <h2 class="text-sm font-medium text-gray-900">Certifications & Compliance</h2>
              <div class="flex gap-2 mt-2">
                <label class="flex items-center justify-center rounded-md border py-3 px-3 text-sm font-medium uppercase sm:flex-1 focus:outline-none hover:bg-zinc-200 whitespace-nowrap" >
                    <span>FAA</span>
                  </label>
                <label class="flex items-center justify-center rounded-md border py-3 px-3 text-sm font-medium uppercase sm:flex-1 focus:outline-none hover:bg-zinc-200 whitespace-nowrap" >
                    <span>EASA</span>
                  </label>
                <label class="flex items-center justify-center rounded-md border py-3 px-3 text-sm font-medium uppercase sm:flex-1 focus:outline-none hover:bg-zinc-200 whitespace-nowrap" >
                    <span>DO-178C</span>
                  </label>
                <label  class="flex items-center justify-center rounded-md border py-3 px-3 text-sm font-medium uppercase sm:flex-1 focus:outline-none hover:bg-zinc-200 whitespace-nowrap" >
                    <span>DO-254</span>
                  </label>
                <label  class="flex items-center justify-center rounded-md border py-3 px-3 text-sm font-medium uppercase sm:flex-1 focus:outline-none hover:bg-zinc-200 whitespace-nowrap" >
                    <span>AS9100</span>
                  </label>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!--begin product -->
   <div class="pt-16 sm:pb-24">
    <div class="mx-auto mt-8 max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="lg:grid lg:auto-rows-min lg:grid-cols-12 lg:gap-x-8">
        <div class="lg:col-span-5 lg:col-start-1">
          <div class="flex justify-between">
            <h1 class="text-xl font-medium text-gray-900">Headlight</h1>
            <!-- <p class="text-xl font-medium text-gray-900">RS.2000</p> -->
          </div>
        </div>

        <div class="mt-8 lg:col-span-5 row-start-2">
          <!-- Product details -->
          <div class="mt-10">
            <h2 class="text-sm font-medium text-gray-900">Description</h2>

            <div class="prose prose-sm mt-4 text-gray-500">
              <p>Our advanced automotive headlight systems provide superior illumination and durability for a variety of vehicle applications. 
                Designed for enhanced visibility and safety, our headlights incorporate precision optics, energy-efficient LED technology, and impact-resistant materials to withstand the toughest road conditions. 
                With a focus on quality and reliability, our headlights meet the highest industry standards for performance and longevity.</p>
            </div>
          </div>

          <!-- Size picker -->
          <div class="mt-8">
            <h2 class="text-sm font-medium text-gray-900">Certifications & Compliance</h2>
            <div class="flex flex-wrap gap-2 mt-2">
              <label class="flex items-center justify-center rounded-md border py-3 px-3 text-sm font-medium uppercase sm:flex-1 focus:outline-none hover:bg-zinc-200 whitespace-nowrap" >
                  <span>DOT</span>
                </label>
              <label class="flex items-center justify-center rounded-md border py-3 px-3 text-sm font-medium uppercase sm:flex-1 focus:outline-none hover:bg-zinc-200 whitespace-nowrap" >
                  <span>SAE J583</span>
                </label>
              <label class="flex items-center justify-center rounded-md border py-3 px-3 text-sm font-medium uppercase sm:flex-1 focus:outline-none hover:bg-zinc-200 whitespace-nowrap" >
                  <span>ECE R112/R87</span>
                </label>
              <label  class="flex items-center justify-center rounded-md border py-3 px-3 text-sm font-medium uppercase sm:flex-1 focus:outline-none hover:bg-zinc-200 whitespace-nowrap" >
                  <span>ISO 9001</span>
                </label>
              <label  class="flex items-center justify-center rounded-md border py-3 px-3 text-sm font-medium uppercase sm:flex-1 focus:outline-none hover:bg-zinc-200 whitespace-nowrap" >
                  <span>ISO/TS 16949</span>
                </label>
            </div>
          </div>

        </div>

        <!-- Image gallery -->
        <div class="mt-8 lg:col-span-7 lg:col-start-6 lg:row-span-3 lg:row-start-1 lg:mt-0">
          <h2 class="sr-only">Images</h2>

          <div class="">
            <img src="/img/headlight.jpg" alt="genesis headlight" class="rounded-lg h-[600px] w-[600px]">              
          </div>
        </div>

      </div>
    </div>

      <!--begin product -->
   <div class="pb-16 pt-16 sm:pb-24">
    <div class="mx-auto mt-8 max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="lg:grid lg:auto-rows-min lg:grid-cols-12 lg:gap-x-8">
        <div class="lg:col-span-5 lg:col-start-8">
          <div class="flex justify-between">
            <h1 class="text-xl font-medium text-gray-900">Ventilator</h1>
            <!-- <p class="text-xl font-medium text-gray-900">RS.2000</p> -->
          </div>
        </div>

        <!-- Image gallery -->
        <div class="mt-8 lg:col-span-7 lg:col-start-1 lg:row-span-3 lg:row-start-1 lg:mt-0">
          <h2 class="sr-only">Images</h2>

          <div class="">
            <img src="/img/ventilator.jpg" alt="genesis ventilator" class="rounded-lg h-[630px] w-[800px]">              
          </div>
        </div>

        <div class="mt-8 lg:col-span-5">
          <!-- Product details -->
          <div class="mt-10">
            <h2 class="text-sm font-medium text-gray-900">Description</h2>

            <div class="prose prose-sm mt-4 text-gray-500">
              <p>Engineered for precision and reliability, our ventilators deliver critical respiratory support in medical environments ranging from intensive care units to emergency transport. 
                Featuring adaptive pressure control, user-friendly interfaces, and advanced patient monitoring, our ventilators are designed to provide consistent and safe ventilation under varying conditions. 
                Manufactured in a controlled environment, each unit undergoes rigorous testing to ensure compliance with global medical device standards.</p>
            </div>
          </div>

          <!-- Size picker -->
          <div class="mt-8">
            <h2 class="text-sm font-medium text-gray-900">Certifications & Compliance</h2>
            <div class="flex gap-2 mt-2">
              <label class="flex items-center justify-center rounded-md border py-3 px-3 text-sm font-medium uppercase sm:flex-1 focus:outline-none hover:bg-zinc-200 whitespace-nowrap" >
                  <span>FDA 510(k)</span>
                </label>
              <label class="flex items-center justify-center rounded-md border py-3 px-3 text-sm font-medium uppercase sm:flex-1 focus:outline-none hover:bg-zinc-200 whitespace-nowrap" >
                  <span>ISO 13485</span>
                </label>
              <label class="flex items-center justify-center rounded-md border py-3 px-3 text-sm font-medium uppercase sm:flex-1 focus:outline-none hover:bg-zinc-200 whitespace-nowrap" >
                  <span>IEC 60601-1</span>
                </label>
              <label  class="flex items-center justify-center rounded-md border py-3 px-3 text-sm font-medium uppercase sm:flex-1 focus:outline-none hover:bg-zinc-200 whitespace-nowrap" >
                  <span>CE Mark</span>
                </label>
              <label  class="flex items-center justify-center rounded-md border py-3 px-3 text-sm font-medium uppercase sm:flex-1 focus:outline-none hover:bg-zinc-200 whitespace-nowrap" >
                  <span>RoHS</span>
                </label>
            </div>
          </div>

        </div>
      </div>
    </div>

    </div>
  </div>