---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/global/News3Footer.astro";
import Navigation from "../components/global/Navigation.astro";
const basePath = import.meta.env.PROD ? '/Genesis/' : '/';
---

<html lang="en" style="background: #f0d8c7;">
  <head>
    <link rel="icon" href=`${basePath}Img/Logos/LoneStarLogo.jpg` type="image/x-icon">
    <link rel="shortcut icon" href=`${basePath}Img/Logos/LoneStarLogo.jpg` type="image/x-icon">
	<BaseHead/>
  </head>
  <slot/>
  <body class="bg-white" style="font-family: 'Outfit', sans-serif;">
    <Footer/>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
</html>
