---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/global/News2Footer.astro";
import Navigation from "../components/global/Navigation.astro";
const basePath = import.meta.env.PROD ? '/Genesis/' : '/';

---

<html lang="en">
  <head>
    <link rel="icon" href=`${basePath}Img/News2Img/madrigalLogo2.png` type="image/x-icon">
    <link rel="shortcut icon" href=`${basePath}Img/News2Img/madrigalLogo2.png` type="image/x-icon">
    <BaseHead />
  </head>
  <body style="font-family: 'Outfit', sans-serif; background-color: #2f3d38; margin: 0;">
    <!-- Main centered container -->
    <div style="max-width: 1500px; margin: 0 auto; background-color: #f4fcfa; min-height: 100vh; padding: 40px;">
      <slot />
    </div>

    <Footer />
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
  </body>
</html>
