---
import Header from "../components/global/RedditHeader.astro";
import Navigation from "../components/global/Navigation.astro";

---

<html lang="en">
  <head>
    <Header />
  </head>
  <slot/>
  <body>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
</html>