---
import Header from "../components/global/RedditHeader.astro";
import Navigation from "../components/global/Navigation.astro";

---

<html lang="en">
  <head>
    <link rel="icon" href="../../../../public/Img/Logos/logo for a chat blog called blog room with the primary color being dark red.jpeg" type="image/x-icon">
    <link rel="shortcut icon" href="../../../../public/Img/Logos/logo for a chat blog called blog room with the primary color being dark red.jpeg" type="image/x-icon">
    <Header />
  </head>
  <slot/>
  <body>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
</html>