---
import BaseHead from "../components/BaseHead.astro";
import StockHeader from "../components/global/StockHeader.astro";
import StockFooter from "../components/global/StockFooter.astro";
const basePath = import.meta.env.PROD ? '/Genesis/' : '/';
---

<html lang="en">
  <head>
    <link rel="icon" href=`${basePath}Img/Logos/logo for a company called stock watch with the primary color being green.jpeg` type="image/x-icon">
    <link rel="shortcut icon" href=`${basePath}Img/Logos/logo for a company called stock watch with the primary color being green.jpeg` type="image/x-icon">
    <BaseHead/>
  </head>

  <body class="bg-white" style="font-family: 'Outfit', sans-serif;">
    <StockHeader/>
    <slot/>
    <StockFooter/>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
  </body>
</html>